<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find xm_robothw)/config/arm_controller.yaml" command="load" />
  <!--rosparam file="$(find xm_robothw)/config/gripper_controller.yaml" command="load" /-->
  <!--rosparam file="$(find xm_robothw)/config/joint_state_controller.yaml" command="load" /-->

  <!-- Run serial node >
  <node pkg="xm_serialnode" type="serial_node" name="serial_node" / -->

  <node name="xm_robothw" pkg="xm_robothw" type="xm_robothw_node" respawn="false" output="screen" />

  <!-- Load xm_robot's urdf -->
  <param name="robot_description" textfile="$(find xm_description)/urdf/xm_robot_with_arm.urdf" />

  <!-- Publish robot's state -->
  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
  </node-->

  <!-- Load the controllers -->
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" args="xm_arm_controller" />

  <!-- Run a separate controller for the one sided gripper -->
  <!--node name="xm_gripper_controller" pkg="arbotix_controllers" type="gripper_controller" output="screen">
      <rosparam>
         model: parallel
         center: 0.0
         scale: 1.0
         joint: joint_finger_right
      </rosparam>
  </node-->
  
  <!--node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" args="xm_gripper_controller" /-->

  <!--node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" args="joint_state_controller" /-->

</launch>
